<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/main/index.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo-box">
                <h1><a href="" class="logo">심플에어</a></h1>
            </div>
            <nav>
                <a href="/">예매</a>
                <a href="/">예약 조회</a>
                <a href="/">고객센터</a>
                <a href="/templates/user/login.html" class="login-btn">로그인</a>
            </nav>
        </header>
        <main>
            <section class="main-info">
                <div class="info-box">
                    <h3>(주)심플에어</h3>
                    <p>주소: 부산광역시 땡땡구</p>
                    <p>휴대폰: 010-0000-0000</p>
                    <p>이메일: siplme@naver.com</p>
                </div>
            </section>
            <section class="simple-reservation">
                <div class="reservation-box">
                    <div class="res-top">
                        <div class="select-res">
                            <button class="round-btn">왕복</button>
                            <button class="one-btn">편도</button>
                        </div>
                        <div class="country-select">
                            <select name=start-country" class="start-country">
                                <option value="none">======출발지======</option>
                                <option value="한국">한국</option>
                                <option value="japan">일본</option>
                                <option value="중국">중국</option>
                                <option value="대만">대만</option>
                                <option value="유럽">유럽</option>
                                <option value="미국">미국</option>
                            </select>
                            <div class="startend-img">
                                <img src="/static/images/arrow.png">
                            </div>
                            <select name="end-country" class="end-country">
                                <option value="none">======도착지======</option>
                                <option value="한국">한국</option>
                                <option value="japan">일본</option>
                                <option value="중국">중국</option>
                                <option value="대만">대만</option>
                                <option value="유럽">유럽</option>
                                <option value="미국">미국</option>
                            </select>
                        </div>
                    </div>
                    <div class="res-mid">
                        <div class="calendar-img">
                            <img src="/static/images/calendar.png">
                        </div>
                        <div class="day-data">
                            <input type="date">
                            <div class="wave-img">
                                <img src="/static/images/wave.png">
                            </div>
                            <input type="date">
                        </div>
                    </div>
                    <div class="res-bottom">
                        <h1>탑승객</h1>
                        <div class="res-bottom-box">
                            <div class="people-box">
                                <div class="people-check">
                                    <button type="button" class="plus-btn">-</button>
                                    <div style="display: flex;">
                                        <div class="people">1</div>
                                        <p>명</p>
                                    </div>
                                    <button type="button" class="minus-btn">+</button>
                                </div>
                            </div>
                            <div class="people-img">
                                <img src="/static/images/people.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- <footer>없음</footer> -->
    </div>
</body>
</html>