<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>findPw</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/user/findPw.css">
</head>
<body>
    <div class="container">
        <header>
            나중에 타임리프
        </header>
        <main>
            <div class="find-container">
                <div class="find-title">
                    <h1>비밀번호 찾기</h1>
                </div>
                <div class="find-box">
                    <div class="find-inputs">
                        <div class="id-box">
                            <input class="id-box" type="text" placeholder="아이디">
                            <div class="error-msg"></div>
                        </div>
                        <div class="birth-box">
                            <input class="birth-input" type="text" placeholder="생년월일">
                            <div class="error-msg"></div>
                        </div>
                    </div>
                    <button class="find-btn" type="submit">찾기</button>
                </div>
                <div class="qw-msg"></div>
            </div>
        </main>
    </div>
</body>
</html>