<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/user/login.css">
</head>
<body>
    <div class="container">
        <header>
            나중에 타임리프
        </header>
        <main>
            <div class="login-container">
                <div class="oauth2-login">
                    <a href="/">
                        <img src="/static/images/naverbtn.png" style="width: 150px; height: 40px;">
                    </a>
                    <a href="/">
                        <img src="/static/images/kakaobtn.png" style="width: 150px; height: 40px;">
                    </a>
                </div>
                
                <form class="login-box" action="/" method="post">
                    <div class="login-inputs">
                        <div class="id-box">
                            <input class="id-input" type="text" placeholder="아이디">
                            <div class="error-msg"></div>
                        </div>
                        <div class="pw-box">
                            <input class="pw-input" type="password" placeholder="비밀번호">
                            <div class="error-msg"></div>
                        </div>
                    </div>
                    <button class="login-btn" type="submit">로그인</button>
                </form>
                
                <div class="login-etc">
                    <a href="/templates/user/signup.html">회원가입</a>
                    <a href="/templates/user/findAccount.html">계정찾기</a>
                </div>
            </div>
        </main>
    </div>
</body>
</html>