<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/user/login.css">
</head>
<body>
    <div class="container">
        <header>
            나중에 타임리프
        </header>
        <main>
            <div class="login-container">
                <div class="oauth2-login">
                    <button>네이버이미지</button>
                    <button>카카오이미지</button>
                </div>
                <div class="login-box">
                    <div>
                        <input type="text">
                        <input type="password">
                    </div>
                    <button type="button">로그인</button>
                </div>
                <div class="login-etc"></div>
            </div>
        </main>
    </div>
</body>
</html>