<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/user/signup.css">
</head>
<body>
    <div class="container">
        <header>
            나중에 타임리프
        </header>
        <main>
            <div class="signup-container">

            </div>
        </main>
    </div>
</body>
</html>