@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
}

img {
    border: 0px;
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

button {
    cursor: pointer;
}