/* 기본 웹 크기 1920 1080 */

body {
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
    height: 100vh;
    background: url(/static/images/main2.jpg) no-repeat center fixed;
    background-size: cover;
}

header {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.2);
}

header h1 {
    width: 280px;
    height: 80px;
    padding-top: 18px;
    text-align: center;
    border-right: 3px solid white;
}

.logo {
    color: white;
}

header nav {
    width: 1000px;
    display: flex;
    justify-content: space-around;
}

nav a {
    font-size: 16px;
    color: white;
}

.login-btn:hover {  
    color: orangered;
    text-decoration: underline;
    text-decoration-color: orange;
}

main {
    width: 100%;
    display: flex;
}

.main-info {
    width: 280px;
    height: 91.4vh;

    display: flex;
    align-items: flex-end;

    border-right: 3px solid white;
}

.info-box {
    width: 280px;
    color: white;
}

.simple-reservation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.reservation-box {
    width: 800px;
    height: 480px;
    /* margin: 0px auto; */
    background-color: yellow;
}
